@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
==================
      Utility
==================
**/
.pointer{
  cursor: pointer;
}
.bg-blue{
  background-color: #34A5DA;
}
.bg-black{
  background-color: #212121;
}
.bg-white{
  background-color: #EBEBEB;
}
.height-100vh{
  height: 100vh;
}
.mrg-top{
  margin-top: 25px;
}

/**
=======================
      Typography
=======================
**/

.white{
  color: #ebebeb;
}

/**
=======================
      Buttons
=======================
**/

button{
  border: unset;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 10px;
}

button:focus{
  outline: none;
}

button.bg-blue{
  color: #ebebeb;
}

/**
================
      Flex
================
**/

.flex{
  display: flex;
  flex-wrap: wrap;
}
.align-top{
  align-items: flex-start;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}